.article-top {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 370px;
}

.sub-container {
  width: 80%;
  height: 70%;
}

.title-top {
  display: flex;
  color: #52ffa8;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}

.consiglio {
  width: 100%;
  margin: auto;
  font-size: 28px;
}

.id-consiglio {
  color: #52ffa8;
  font-size: 18px;
}

p {
  color: white;
}

.divider-destkop {
  color: white;
}

@media (min-width: 290px) and (max-width: 360px) {
  .pattern-destkop {
    display: none !important;
  }

  .pattern-mobile {
    display: block !important;
  }

  .consiglio {
    font-size: 15px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  .consiglio {
    font-size: 15px;
  }

  .pattern-destkop {
    display: none !important;
  }

  .pattern-mobile {
    display: block !important;
  }
}

@media (min-width: 769px) and (max-width: 1099px) {
  .consiglio {
    font-size: 15px;
  }

  .pattern-destkop {
    display: block !important;
  }

  .pattern-mobile {
    display: none !important;
  }
}
