.bottom-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  height: 55px;
  width: 60px;
  border-radius: 50%;
  background-color: #52ffa8;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.change-consiglio:hover {
  box-shadow: 0 5px 15px #52ffa8;
  opacity: 100%;
}
